WORKDIR=/HOME/genebang_txu_1/BIGDATA/workspace/barley/modules/SOAPdenovo
OUTDIR=/HOME/genebang_txu_1/BIGDATA/workspace/barley/output/SOAPdenovo
SOAPDENOVO63MER=/HOME/genebang_txu_1/biosoft/SOAPdenovo2-bin-LINUX-generic-r240/SOAPdenovo-63mer
SOAPDENOVO127MER=/HOME/genebang_txu_1/biosoft/SOAPdenovo2-bin-LINUX-generic-r240/SOAPdenovo-127mer
LIB=/HOME/genebang_txu_1/BIGDATA/workspace/barley/modules/SOAPdenovo/LIB.cfg
THREADS=24

